 	html, body, .container-fluid, .row-fluid   {
	  height:100%;
	  min-height: 100%;
	}
	
	body{
	  background-color: #ddd;
	  background-image: linear-gradient( #fff, #eee );
	}
	
	.page {
	  background: #fff;
	  position: relative;
	  display: flex;
	  flex-direction: column;
	  align-items: stretch;
	}
	
	.page-title {
	  margin: 2rem 0rem 4rem 0rem;
	  border-bottom: 2px solid #eee;
	  flex: 0 3 auto;
	  overflow: hidden;
	  min-width:0px;
	}
	
	.page-title>h1{
	  margin: 0 auto;
	  padding: 0;
	  color:#333;
	  line-height: 4rem;
	}
	
	.page-content {
	  flex: 1 auto;
	  flex-wrap: wrap;
	  display: flex;
	  flex-direction: row;
      align-items: stretch;
/*	  overflow: hidden;*/
	  position: relative;
	  border: 1px solid #ddd;
	  border-radius: 5px 5px 0 0;
	  border-bottom: 0;
	}
	
	.notification-bar {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  margin-bottom: 0;
	  flex: 0 1 auto;
	}

	.master {
	  flex: 1 auto;
	  order: 1;
	  overflow: hidden;
	  padding-left: 0;
	  border-right: 1px solid #ddd;
	  border-top-left-radius: 4px;
	} 
	
	.master .nav {
	  font-weight: bold;
	  margin-top: 5.7rem;
	}
	
	.master section{
	  overflow: auto;
	}
	
	.master .nav>li>a {
	  padding-left: 5px !important;
	  padding-right: 10px !important;
	}
	
	.nav-pills>li>a{
	  border-radius: 0;
	}
	
	.nav-stacked>li+li{
	  margin-top: 0;
	  border-top: 1px solid #d0d0d0;
	}
	
	/*Expandable search box*/
	.inner-addon { 
	  position: relative; 
	}
	
	/* style icon */
	.inner-addon .glyphicon {
	  position: absolute;
	  padding: 10px;
	  pointer-events: none;
	}
	
	/* align icon */
	.left-addon .glyphicon  { left:  0px;}
	.right-addon .glyphicon { right: 0px;}
	
	/* add padding  */
	.left-addon input  { padding-left:  10rem; }
	.right-addon input { padding-right: 10rem; }
	
	input[type=search].quick-search {
	  height: 3rem;
      width: 2rem;
	  padding-left: 10px;
	  color: transparent;
	  cursor: pointer;
	  
	  outline: none;
	  
	  -webkit-appearance: textfield;
	  -webkit-box-sizing: content-box;
	  font-family: inherit;
	  font-size: 100%;
	  
	  border: solid 1px #ccc;	  
	  -webkit-border-radius: 10em;
	  -moz-border-radius: 10em;
	  border-radius: 10em;
	  
	  -webkit-transition: all .5s;
	  -moz-transition: all .5s;
	  transition: all .5s;
	  	  
	}
	
	input[type=search].quick-search:-moz-placeholder {
		color: transparent;
	}
	
	input[type=search].quick-search::-webkit-input-placeholder {
		color: transparent;
	}
	
	input[type=search].quick-search:hover {
		background-color: #fff;
	}
	input[type=search].quick-search:focus {
		width: 10rem;
		padding-left: 32px;
		color: #000;
		background-color: #fff;
		cursor: auto;
		color: inherit;
	}

	input::-webkit-search-decoration,
	input::-webkit-search-cancel-button {
		display: none; 
	}
	/*Expandable search box end*/	
	
	.tools-remove:hover {
	  color: red;
	}

	.header {
	  position: absolute;
	  top: 0;
	  width: 100%;
	  padding-left: 10px;
	  background-color: #363637;
	  height: 4em;
	}
	
	.header>div>button {
		float:right;
	}
	
	.header .btn-group{
	  top: 1rem;
	  padding-right: 10px;
	}
	
	.page [class*='col-'] {
	  padding-right:0;
	}
	
	[ui-view="detail"] {
	  flex: 1 80%;
	  order: 2;
	  flex-wrap: nowrap;
	  border-top-right-radius: 4px;
	}
	
	.detail {
	  padding-left: 0;
	  width: 100%;
	  height: 100%;
	  border-top-right-radius: 4px;
	}
	
	/*layout details content*/
	[ui-view="detail"] .detail {
	  display: flex;
      flex-direction: column;
	}
	
	.detail .header {
	  order: 1;
	  flex: 1 0 auto;
	  max-height: 5.6rem; /* max-height = content max height */	  
	  position: relative; 
	  border-top-right-radius: 4px;
	}

	.detail .object-header {
	  order: 2;
	  flex: 0 1 auto;
	  min-height: 11rem; /* min-height = content height */
	  display: flex;
	  width: 100%;
	  padding: 2rem 1rem 1rem 1rem;
	  background-color: #f2f8fc;
      border-bottom: 1px solid #ddd;
	}
	
	.detail .object-header section, .detail .object-header .object-title {
		display: inline-block;
	}
	
	.detail>div[ng-show] {
		position: relative;
	    border-top-right-radius: 5px;
	}
	
	.detail .object-header section {
		margin-right: 1rem;
		flex: 1 50%;
		white-space: nowrap;
	}
	
	.detail .object-header .object-image {
		margin-right: 1rem;
		display: inline-block;
		font-size: 4rem;
	}
	
	.detail .object-header .object-image>i{
	    padding: 1rem;
	    -moz-border-radius: 4rem;
	    -webkit-border-radius: 4rem;
	    border-radius: 4rem;
	    border: 5px solid #888;
	    background-color: #fff;
	}
	
	.detail .object-header .object-image, 
	.detail .object-header .object-image i {
		vertical-align: top;
	}
	
	.detail .object-header .title {
		margin: 0;
		line-height: 3rem;
		font-size: 3rem;
		font-weight: bold;
	}
	
	.detail .object-header .subtitle {
		margin: 0;
	    line-height: 1.5rem;
	    font-size: 1.5rem;
	    color: #777;
	}
	
	.detail .object-header .object-attributes {
		display: inline-block;
		vertical-align:top;
		line-height: 1.5rem;
	    font-size: 1.5rem;
	}
	
	.detail .object-header .object-attributes label {
		margin-right: 2rem;
	}
	
	.detail .object-header .object-attributes label>i {
	  padding: 0.5rem;
      -moz-border-radius: 1.5rem;
      -webkit-border-radius: 1.5rem;
      border-radius: 1.5rem;
      border: 1px solid #888;
      background-color: #fff;
	}
	
	.editable-click { 
	  color: inherit;
	  border-bottom: inherit;
	}
	.editable-click:hover { 
	  color: #2a6496 !important;
	  border-bottom-color: inherit;
	  cursor: pointer;
  	  border-radius: 4px;
	  box-shadow: 0 0 5px #2a6496;
	  
	  -webkit-transition: all 0.20s ease-in-out;
	  -moz-transition: all 0.20s ease-in-out;
	  -ms-transition: all 0.20s ease-in-out;
	  -o-transition: all 0.20s ease-in-out;	  
	}
		
	a>i {
	  padding: 0 5px 0 5px;
	}
	
 	.items-list {
		margin-top: 6rem;
	} 
	
	.list-content {
		order:3;
	}
	
	.list-content .toolbar {
	  margin: 1.4rem 1rem;
	}
	
	.items-list .list-group {
	  margin-top: 4.5rem;
	}
	
	.items-list .nodata-text {
	  padding: 5px;
	  font-weight: bold;
	}
	
	.items-list .list-group-item {
	    border-radius: 0;
	    border-left: 0;
	    border-right: 0;
	}
	
	.required {
		color: red;
		margin-right: 5px;
	}
	
	.bottomright {
		bottom: 0;
	    float: right;
	    margin: 6rem 0 0 0;
	}

	.alert {
	  transition: 1s linear all;
	  -webkit-transition: 1s linear all;
	  border-radius: 0;
	  margin-bottom: 0;
	}
	
	.alert.ng-hide-remove {
	  opacity: 0;
	}
	
 	.alert.ng-hide-remove.ng-hide-remove-active {
	  opacity: 1;
	}
	
	.alert.ng-hide-add {
	  opacity: 1;
	}
	
	.alert.ng-hide-add.ng-add-active {
	  opacity: 0;
	}
